$base-background : #1F2029;
$base-fade-background : #292b35;
$base-control-color: #8167A9;
$neon-pink: #b042f9;
$input-background: #212529;
$input-text-color: #AEB2B6;

.create-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: $base-background;

    .input-container {
        background-color: red;
        width: 60%;
        height: fit-content;
    }
}