.navbar-container {
    width: 100vw;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-weight: 500;

    .left-part {
        display: flex;
        flex-direction: row;
        
        .logo-upfunds {
            margin-right: 3vw;
        }
        
        .navlink {
            text-decoration: none;
            color: white;
            margin-right: 2vw;
        }
    }
}